<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{/usr/include/head :: head}"></div> <!-- 중복되는 head 처리 -->

<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
					<div class="pt-10 pe-lg-10">
						<ul class="nav flex-column nav-pills nav-pills-dark">
							<li class="nav-item">
								<ul class="nav flex-column nav-pills nav-pills-dark">
									<li class="nav-item">
										<a class="nav-link " href="/usr/member/MemberUsrAccountForm">
											<i class="feather-icon icon-settings me-2"></i> 기본 정보 수정
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/usr/member/MemberUsrAccountPwdForm">
											<i class="feather-icon icon-key me-2"></i> 비밀번호 수정
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active" href="/usr/animal/AnimalInfoUsr">
											<i class="feather-icon icon-heart me-2"></i> 반려동물 등록/수정
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/usr/member/MemberUsrWithdrawal">
											<i class="feather-icon icon-user-x me-2"></i> 회원 탈퇴
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<div class="py-6 p-md-6 p-lg-10">
						<div class="row mb-8">
							<div class="col-md-12">
								<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
									<h4>반려동물 등록/수정</h4>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col">
								<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
									<div></div>
									<a href="/usr/animal/AnimalInfoUsrForm" class="btn btn-primary">+추가하기</a>
								</div>
								
							</div>
						</div>
						
						<form th:each="list : ${animalList}" 
							class="row g-5 needs-validation" novalidate
							method="post" enctype="multipart/form-data" th:id="|form${list?.uaSeq}|" name="|form${list?.uaSeq}|">
							<input type="hidden" name="uaSeq" th:value="${list?.uaSeq}">
							<input type="hidden" name="fFileName" id="fFileName" th:value="${list?.fFileName}" >
							
							<div class="row mb-8 g-5">
								<div class="col-lg-12 col-12">
									<div class="card card-lg border-0" >
										<div class="card-body d-flex flex-column gap-8 p-8">
											<div class="row align-items-center">
												<div class="col-3 d-flex">
													<div class="position-relative">
														<img th:if="${list?.fPath eq null or #strings.trim(list?.fPath) eq ''}" 
															class="image rounded-3" width="150px" id="uaImgFile"
															src="/assets/usr/template/FreshCart-1.4.0/images/animal/placeholder-img.jpg" />
														<img th:if="${list?.fPath ne null and #strings.trim(list?.fPath) ne ''}" 
															class="image rounded-3" th:src="${list?.fPath}" id="uaImgFile" width="150px" />
														<div class="col-11 mt-3">
															<input type="text" class="form-control" name="uaName" id="uaName" 
																th:value="${list?.uaName}" th:attr="oninput=|uaNameOninput('${list?.uaSeq}')|" placeholder="이름을 입력해주세요" required />
															<div class="invalid-feedback"> 이름을 입력해 주세요.<br>한글/영문/숫자만 허용</div>
														</div>
														<div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
															<input type="file" class="file-input" accept=".jpeg,.jpg,.png,.gif"
																name="fUploadFiles" id="fUploadFiles" th:attr="onchange=|fUploadFilesChange('${list?.uaSeq}')|" />
															<span class="icon-shape icon-sm rounded-circle bg-white">
																<svg xmlns="http://www.w3.org/2000/svg" 
																	width="12" height="12" fill="currentColor" 
																	class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
																	<path
																		d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
																</svg>
															</span>
														</div>
													</div>
												</div>
												<div class="col-8">
													<div class="row">
														<div class="col-4" >
															<label for="uaCateCd" class="form-label">
																종류
																<span class="text-danger">*</span>
															</label>
															<select class="form-select" id="uaCateCd" name="uaCateCd" 
																th:attr="onchange=|uaCateCdOnchange('${list?.uaSeq}')|" required>
															<option th:each="codeList : ${@codeService.selectListCachedCode(1)}"
																th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
																th:selected="${#strings.equals(codeList.cSeq, list?.uaCateCd)}"></option>
															</select>
														</div>
														<div class="col-4">
															<label for="uaCate" class="form-label">
																상세 종류
																<span class="text-danger">*</span>
															</label>
															<input th:if="${list?.uaCateCd eq 3}" 
																type="text" class="form-control" name="uaCate" id="uaCate" 
																th:value="${list?.uaCate}" th:attr="oninput=|uaCateOninput('${list?.uaSeq}')|" required />
															<input th:unless="${list?.uaCateCd eq 3}"
																type="text" class="form-control" name="uaCate" id="uaCate" 
																th:value="${list?.uaCate}" th:attr="oninput=|uaCateOninput('${list?.uaSeq}')|" readonly required />
															<div class="invalid-feedback"> 기타를 선택하신 경우 입력해 주세요.<br>한글/영문만 허용</div>
														</div>
														
														<div class="col-4">
															<label for="uaBOD" class="form-label">
																생년월일
																<span class="text-danger">*</span>
															</label>
															<input type="text" class="form-control" name="uaBOD" id="uaBOD"
																th:value="${list?.uaBOD}" th:attr="oninput=|uaBODOninput('${list?.uaSeq}')|" readonly required />
															<div class="invalid-feedback"> 생년월일을 선택해 주세요. </div>
														</div>
													</div>
													<div class="row mt-2">
														<div class="col-4">
															<label for="uaGenderCd" class="form-label">
																성별
																<span class="text-danger">*</span>
															</label>
															<select class="form-select" id="uaGenderCd" name="uaGenderCd" required>
															<option th:each="codeList : ${@codeService.selectListCachedCode(2)}"
																th:value="${codeList.cSeq}" th:text="${codeList.cName}" 
																th:selected="${#strings.equals(codeList.cSeq, list?.uaGenderCd)}"></option>
															</select>
														</div>
														<div class="col-4">
															<label for="uaBreed" class="form-label">
																품종
																<span class="text-danger">*</span>
															</label>
															<input type="text" class="form-control" name="uaBreed" id="uaBreed"
																th:value="${list?.uaBreed}" th:attr="oninput=|uaBreedOninput('${list?.uaSeq}')|" required />
															<div class="invalid-feedback"> 품종을 입력해 주세요.<br>한글/영문만 허용</div>
														</div>
														<div class="col-4 ">
															<label for="uaRegNo" class="form-label">
																등록번호
															</label>
															<input type="text" class="form-control" name="uaRegNo" id="uaRegNo"
																th:value="${list?.uaRegNo}" />
														</div>
													</div>
												</div>
												<div class="col-1">
													<div class="row">
														<div class="col-12 mt-3">
															<a href="javascript:void(0);" class="btn btn-dark"
																th:attr="onclick=|goForm('${list?.uaSeq}')|"
																data-bs-toggle="tooltip" data-bs-placement="top" title="수정">
																<i class="bi bi-pencil"></i>
															</a>
														</div>
													</div>
													<div class="row">
														<div class="col-12 mt-3">
															<a href="javascript:void(0);" class="btn btn-red"
																th:attr="onclick=|goUelete('${list?.uaSeq}')|"
																data-bs-toggle="tooltip" data-bs-placement="top" title="삭제">
																<i class="bi bi-trash3"></i>
															</a>
														</div>
													</div>
													<div class="row">
														<div class="col-12 mt-3">
															<a href="javascript:void(0);" class="btn btn-orange"
																th:attr="onclick=|goUelete('${list?.uaSeq}')|"
																data-bs-toggle="tooltip" data-bs-placement="top" title="실종 신고">
																<i class="bi bi-bell"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="~{/usr/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	let seq = document.querySelector("input[name=uaSeq]");
	let prevUaImgFile;
	
	goForm = function (keyValue) {
		var form = document.getElementById("form" + keyValue);
		
		if (validation(form)) { 
		    seq.value = keyValue;
		    
		    form.action ="AnimalInfoUsrUpdate";
		    form.submit();
		}
	}
	
	goUelete = function (keyValue) {
	    seq.value = keyValue;
	    
	    showModalDeleteConfirm("확인", "정말 삭제 하시겠습니까?", '', 'none');
	}

	document.getElementById("btnModalUelete").onclick = function () {
		var form = document.getElementById("form" + seq.value);
	    form.action ="AnimalInfoUsrUelete";
	    form.submit();
	}
</script>

<!-- 종류 선택 -->
<script type="text/javascript">
	function uaCateCdOnchange(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var uaCateCd = form.querySelector("#uaCateCd");
		var uaCate = form.querySelector("#uaCate");
		
		if (uaCateCd.value == 1) { // 강아지
			uaCate.readOnly = true;
			resetValidation(uaCate);
			uaCate.classList.add("is-valid");
			uaCate.value = "강아지";
		} else if (uaCateCd.value == 2) { // 고양이
			uaCate.readOnly = true;
			resetValidation(uaCate);
			uaCate.classList.add("is-valid");
			uaCate.value = "고양이";
		} else { // 기타
			uaCate.value = "";
			resetValidation(uaCate);
			uaCate.classList.add("is-invalid");
			uaCate.readOnly = false;
		}
	}
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	function validation(form) {
		var fUploadFiles = form.querySelector("#fUploadFiles");
		var fFileName = form.querySelector("#fFileName");
		var uaImgFile = form.querySelector("#uaImgFile");
		var uaCateCd = form.querySelector("#uaCateCd");
		var uaCate = form.querySelector("#uaCate");
		var uaName = form.querySelector("#uaName");
		var uaBOD = form.querySelector("#uaBOD");
		var uaGenderCd = form.querySelector("#uaGenderCd");
		var uaBreed = form.querySelector("#uaBreed");
		var uaRegNo = form.querySelector("#uaRegNo");
		
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// uaCate 체크
		resetValidation(uaCate);
		
		if (uaCateCd.value.trim() == 3 && !strKorEngValidation(uaCate)) {
			uaCate.classList.add("is-invalid");
			
			if (!focus) {
				uaCate.focus();
				focus = true;
			}
		} else {
			uaCate.classList.add("is-valid");
		}
		
		// uaName 체크
		resetValidation(uaName);
		
		if (!strKorEngNumberValidation(uaName)) {
			uaName.classList.add("is-invalid");
			
			if (!focus) {
				uaName.focus();
				focus = true;
			}
		} else {
			uaName.classList.add("is-valid");
		}
		
		// uaBOD 체크
		resetValidation(uaBOD);
		
		if (!dateValidation_yyyyMMdd(uaBOD)) {
			uaBOD.classList.add("is-invalid");
			
			if (!focus) {
				uaBOD.focus();
				focus = true;
			}
		} else {
			uaBOD.classList.add("is-valid");
		}
		
		// uaBreed 체크
		resetValidation(uaBreed);
		
		if (!strKorEngValidation(uaBreed)) {
			uaBreed.classList.add("is-invalid");
			
			if (!focus) {
				uaBreed.focus();
				focus = true;
			}
		} else {
			uaBreed.classList.add("is-valid");
		}
		
		// 디폴트값이 선택이므로, 벨리드 된 상태로 셋팅
		uaCateCd.classList.add("is-valid");
		uaGenderCd.classList.add("is-valid");
		
		// fUploadFiles, fFileName 체크
		var file = fUploadFiles.files[0];
		
		// fUploadFiles이 빈값이나 null이면 허용하므로, 아닐때만 Validation
		if (file != null && file.name != null && file.name.trim() != ""
				&& fFileName.value != null && fFileName.value.trim() != "") {
			if (!imgFileValidation(file, fFileName)) {
				fUploadFiles = null;
				fFileName.value = "";
				showModalAlert("확인", "파일의 형식과 크기를 확인해 주세요. (JPG, JPEG, GIF, PNG / 최대 2MB)");
				return false;
			}
		}
		
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;

		uaCate.value = uaCate.value.trim();
		uaName.value = uaName.value.trim();
		uaBreed.value = uaBreed.value.trim();
		uaRegNo.value = uaRegNo.value.trim();
		
		return true;
	}
	
	// fUploadFiles, fFileName Change 시 체크
	function fUploadFilesChange(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var fUploadFiles = form.querySelector("#fUploadFiles");
		var fFileName = form.querySelector("#fFileName");
		var file = fUploadFiles.files[0];
		
		// fUploadFiles이 빈값이나 null이면 허용하므로 리턴
		if (file == null 
				|| (file != null && file.name == null)
				|| (file != null && file.name != null && file.name.trim() == "")) return;
		
		fFileName.value = file.name.trim();
		
		// gTnFileName이 빈값이나 null이면 허용하므로 리턴
		if (fFileName.value == null
				|| (fFileName.value != null && fFileName.value.trim() == "")) return;		
		
		// Validation
		prevUaImgFile = null;
		if (!imgFileValidation(file, fFileName)) {
			prevUaImgFile = form.querySelector("#uaImgFile");
			fUploadFiles = null;
			fFileName.value = "";
			showModalAlert("확인", "파일의 형식과 크기를 확인해 주세요. (JPG, JPEG, GIF, PNG / 최대 2MB)");
		}
	}
	
	$("#modalAlert").on("hidden.bs.modal", function (e) {
		prevUaImgFile.src = "/assets/usr/template/FreshCart-1.4.0/images/animal/placeholder-img.jpg";
	});
	
	// uaCate Input 시 체크
	function uaCateOninput(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var uaCate = form.querySelector("#uaCate");
		
		resetValidation(uaCate);
		
		if (uaCateCd.value.trim() == 3 && !strKorEngValidation(uaCate)) {
			uaCate.classList.add("is-invalid");
		} else {
			uaCate.classList.add("is-valid");
		}	
	}
	
	// uaName Input 시 체크
	function uaNameOninput(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var uaName = form.querySelector("#uaName");
		
		resetValidation(uaName);
		
		if (!strKorEngNumberValidation(uaName)) {
			uaName.classList.add("is-invalid");
		} else {
			uaName.classList.add("is-valid");
		}	
	}
	
	// uaBOD Input 시 체크
	function uaBODOninput(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var uaBOD = form.querySelector("#uaBOD");
		
		resetValidation(uaBOD);
		
		if (!dateValidation_yyyyMMdd(uaBOD)) {
			uaBOD.classList.add("is-invalid");
		} else {
			uaBOD.classList.add("is-valid");
		}	
	}
	
	// uaBreed Input 시 체크
	function uaBreedOninput(keyValue) {
		var form = document.getElementById("form" + keyValue);
		var uaBreed = form.querySelector("#uaBreed");
		
		resetValidation(uaBreed);
		
		if (!strKorEngValidation(uaBreed)) {
			uaBreed.classList.add("is-invalid");
		} else {
			uaBreed.classList.add("is-valid");
		}	
	}
</script>

</body>