<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{usr/include/head :: head}"></div> 
<body>
<form action="">
<div class="container align-items-center text-center">
<div class="row">
	<div class="col-md-5 col-xl-6" style="padding-top:100px;">
			<h1 style="color:#6a4a2f; font-size:100px;">400</h1>
			<h3 style="color:#6a4a2f;">오류로 인해 페이지가 구동하지 않습니다</h3>
			<div style="padding-top:50px;">
			<button class="btn btn-outline-dark" type="button" onclick="javascript:history.back();" >이전 화면으로 돌아가기</button>
			</div>
			</div>
			<div class="col-md-5 col-xl-6">
			<img alt="" src="/assets/usr/template/FreshCart-1.4.0/images/favicon/dogfavicon.png" style="height:90%; width:90%;">
			</div>


</div>
</div>
</form>

</body>
<div th:replace="~{usr/include/footer :: footer}"></div>
</html>