<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headLogin"> <!-- 중복되는 head 부분 블록 처리 -->

<head>
   <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>AA</title>
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/usr/template/FreshCart-1.4.0/images/favicon/favicon.ico">

	<!-- Libs CSS -->
	<link href="/assets/usr/template/FreshCart-1.4.0/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
	<link href="/assets/usr/template/FreshCart-1.4.0/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
	<link href="/assets/usr/template/FreshCart-1.4.0/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/assets/usr/template/FreshCart-1.4.0/css/theme.min.css">
	
	<!-- Date Time Picker CSS (https://xdsoft.net/jqplugins/datetimepicker/) -->
	<link rel="stylesheet" type="text/css" href="/assets/common/css/jquery.datetimepicker.css">
</head>

</th:block>
</html>