<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aa.module.animal.AnimalDao">

	<resultMap type="com.aa.module.animal.AnimalDto"
		id="resultMapObj"></resultMap>
	
<select id="selectList" resultMap="resultMapObj">
	select
		uaSeq,
		user_uSeq, 
		uaCateCd, 
		uaName, 
		uaBOD,
		uaGenderCd, 
		uaBreed, 
		uaRegNo, 
		uaRegDate,  
		uaMofDate, 
		uaDelNy
	FROM
		uAnimal
	WHERE 1=1
		AND uaDelNy = 0
		
</select>

<select id="selectOne" resultMap="resultMapObj">
	select
		uaSeq,
		user_uSeq, 
		uaCateCd, 
		uaName, 
		uaBOD,
		uaGenderCd, 
		uaBreed, 
		uaRegNo, 
		uaRegDate,  
		uaMofDate, 
		uaDelNy
	FROM
		uAnimal
	WHERE 1=1
		AND uaSeq = #{uaSeq}
</select>

<insert id="insert">
	INSERT INTO uAnimal
	(
		user_uSeq,
		uaCateCd, 
		uaName, 
		uaBOD,
		uaGenderCd, 
		uaBreed, 
		uaRegNo, 
		uaRegDate
	)
	VALUES
	(
		#{user_uSeq},
		#{uaCateCd}, 
		#{uaName}, 
		#{uaBOD},
		#{uaGenderCd}, 
		#{uaBreed}, 
		#{uaRegNo}, 
		now()
	)
	
</insert>

<update id="update">
	UPDATE uAnimal set
		uaCateCd = #{uaCateCd},
		uaName = #{uaName},
		uaBOD = #{uaBOD},
		uaGenderCd = #{uaGenderCd},
		uaBreed = #{uaBreed},
		uaRegNo = #{uaRegNo}, 
		uaMofDate = now()
	WHERE 
		uaSeq = #{uaSeq}
</update>
</mapper>