<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aa.module.animal.AnimalDao">

	<resultMap type="com.aa.module.animal.AnimalDto"
		id="resultMapObj"></resultMap>
	
<select id="selectList" resultMap="resultMapObj">
	select
		a.uaSeq,
		a.user_uSeq, 
		a.uaCateCd, 
		a.uaCate,
		a.uaName, 
		a.uaBOD,
		a.uaGenderCd, 
		a.uaBreed, 
		a.uaRegNo, 
		a.uaRegDate,  
		a.uaMofDate, 
		a.uaDelNy,
		(SELECT b.fPath
			FROM uaImg b
			WHERE 1=1 
				AND a.uaSeq = b.rSeq
	    ) as fPath
	FROM
		uAnimal a
	WHERE 1=1
		AND a.uaDelNy = 0
		
</select>

<select id="selectOne" resultMap="resultMapObj">
	select
		uaSeq,
		user_uSeq, 
		uaCateCd, 
		uaCate,
		uaName, 
		uaBOD,
		uaGenderCd, 
		uaBreed, 
		uaRegNo, 
		uaRegDate,  
		uaMofDate, 
		uaDelNy
	FROM
		uAnimal
	WHERE 1=1
		AND uaSeq = #{uaSeq}
</select>

<insert id="insert">
	INSERT INTO uAnimal
	(
		user_uSeq,
		uaCateCd, 
		uaCate,
		uaName, 
		uaBOD,
		uaGenderCd, 
		uaBreed, 
		uaRegNo, 
		uaRegDate
	)
	VALUES
	(
		#{user_uSeq},
		#{uaCateCd}, 
		#{uaCate}, 
		#{uaName}, 
		#{uaBOD},
		#{uaGenderCd}, 
		#{uaBreed}, 
		#{uaRegNo}, 
		now()
	)
	
	<selectKey resultType="String" keyProperty="uaSeq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	
</insert>

<update id="update">
	UPDATE uAnimal set
		uaCateCd = #{uaCateCd},
		uaCate = #{uaCate},
		uaName = #{uaName},
		uaBOD = #{uaBOD},
		uaGenderCd = #{uaGenderCd},
		uaBreed = #{uaBreed},
		uaRegNo = #{uaRegNo}, 
		uaMofDate = now()
	WHERE 
		uaSeq = #{uaSeq}
</update>

<update id="uelete">
	UPDATE uAnimal set
		uaDelNy = 1
	WHERE
		uaSeq = #{uaSeq}
</update>
</mapper>