<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aa.module.miss.MissDao">

	<resultMap type="com.aa.module.miss.MissDto"
		id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		from missingBoard as a
		left join uAnimal as b on b.uaSeq = a.uAnimal_uaSeq
		left join user as c on b.user_uSeq = c.uSeq
		left join uaImg as d on d.rSeq = b.uaSeq
		where 1=1
		and mbDelNy = 0
<!-- 		<if test="shDelNy != null and !shDelNy.equals('')">AND a.bgDelNy = #{shDelNy}</if> -->

<!-- 		<choose> -->
<!-- 			<when test="shOptionDate == 1">AND a.bgReg BETWEEN #{shDateStartDB} AND -->
<!-- 				#{shDateEndDB} -->
<!-- 			</when> -->
<!-- 			<when test="shOptionDate == 2">AND a.bgMof BETWEEN #{shDateStartDB} AND -->
<!-- 				#{shDateEndDB} -->
<!-- 			</when> -->
<!-- 		</choose> -->

		<choose>
			<when test="shOption == 1">AND b.uaName  LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND a.mbTitle LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.mbDetailAddr LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 4">AND c.uNickname LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	<select id="mbList" resultMap="resultMapObj">
		select
		a.mbSeq,
		a.mbTitle,
		a.mbDetailAddr,
		a.mbDate,
		a.mbRegDate,
		c.uNickname,
		d.fPath
	<include refid="selectCommon"></include>
		order by mbSeq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="selectCount">
		select count(*)
		<include refid="selectCommon"></include>
	</select>
	<select id="mbOne" resultMap="resultMapObj">
		select
		a.mbSeq,
		e.cName,
		a.mbTitle,
		a.mbLat,
		a.mbLon,
		a.mbDetailAddr,
		a.mbStreetAddr,
		a.mbPostalCode,
		a.mbEtc,
		a.mbDate,
		a.mbRegDate,
		a.mbReward,
		format(a.mbReward,0) as mbRewardformat,
		b.uaName,
		b.uaBreed,
		b.uaBOD,
		b.user_uSeq,
		b.uaSeq,
		 TIMESTAMPDIFF(YEAR, DATE(b.uaBOD), CURDATE()) AS age,
		c.uNickname,
		d.fPath
		from missingBoard as a
		left join uAnimal as b on b.uaSeq = a.uAnimal_uaSeq
		left join user as c on b.user_uSeq = c.uSeq
		left join uaImg as d on d.rSeq = b.uaSeq
		left join code as e on e.cSeq = b.uaGenderCd
		where 1=1
		and mbDelNy = 0
		and a.mbSeq = #{mbSeq}
	</select>
	<select id="reviewList" resultMap="resultMapObj">
		select
		a.mbcComment,
		a.mbcRegDate,
		b.uNickname
		from mbComment as a
		left join user as b on a.user_uSeq = b.uSeq
		where 1=1
		and a.missingBoard_mbSeq = #{mbSeq}
		order by a.mbcSeq desc
		limit #{startRnumForMysql},#{rowNumToShow}
	</select>
	<select id="reviewCount" resultType="integer">
		select count(*)
		from mbComment as a
		left join user as b on a.user_uSeq = b.uSeq
		where 1=1
		and a.missingBoard_mbSeq = #{mbSeq}
	</select>
	<select id="uaList" resultMap="resultMapObj">
		select
		a.uaSeq,
		a.uaName
		from
		uAnimal as a
		where 1=1 and
		a.uaDelNy = 0
		and
		a.user_uSeq = #{user_uSeq}
	</select>

	<select id="uaOne" resultMap="resultMapObj">
		select
		a.uaName,
		a.uaBOD,
		a.uaBreed,
		a.uaGenderCd,
		(select b.cName from code as b where b.cSeq = a.uaGenderCd) as cName
		from uAnimal as a
		where 1=1 and

		a.uaSeq = #{uAnimal_uaSeq}
	</select>
	<insert id="mbInsert">
		insert into missingBoard
		(
		mbDetailAddr,
		uAnimal_uaSeq,
		mbFindCd,
		mbPostalCode,
		mbStreetAddr,
		mbEtc,
		mbReward,
		mbLat,
		mbLon,
		mbRegDate,
		mbTitle,
		mbDate
		)values
		(
		#{mbDetailAddr},
		#{uAnimal_uaSeq},
		7,
		#{mbPostalCode},
		#{mbStreetAddr},
		#{mbEtc},
		#{mbReward},
		#{mbLat},
		#{mbLon},
		now(),
		#{mbTitle},
		#{mbDate}
		)
	</insert>
	<update id="mbUpdate">
		update missingBoard
		set
		mbDetailAddr = #{mbDetailAddr},
		uAnimal_uaSeq = #{uAnimal_uaSeq},
		mbFindCd = #{mbFindCd},
		mbPostalCode = #{mbPostalCode},
		mbStreetAddr = #{mbStreetAddr},
		mbEtc = #{mbEtc},
		mbReward = #{mbReward},
		mbLat = #{mbLat},
		mbLon = #{mbLon},
		mbTitle = #{mbTitle},
		mbDate = #{mbDate},
		mbMofDate = now()
		where 1=1 
		and mbSeq = #{mbSeq}
	
	</update>
	<update id="mbUelete">
		update missingBoard
		set
		mbDelNy = 1
		where 1=1 
		and mbSeq = #{mbSeq}
	</update>
	<insert id="reviewInsert">
		insert into mbComment
		(
		user_uSeq,
		missingBoard_mbSeq,
		mbcComment,
		mbcRegDate
		)values
		(
		#{user_uSeq},
		#{mbSeq},
		#{mbcComment},
		now()
		)
	</insert>
</mapper>