<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aa.module.token.TokenDao">

	<resultMap type="com.aa.module.token.TokenDto"
		id="resultMapObj"></resultMap>
		
		
		<select id="tokenOne" resultType="integer">
		select count(*)
		from token
		where 1=1
		and token = #{token}
		</select>
		<select id="tokenList" resultMap="resultMapObj">
		select 
		token
		from 
		token
		where 1=1
		</select>
		<insert id="tokenInsert">
		insert into token
		(
		uSeq,
		token,
		devicetype
		)values
		(
		#{uSeq},
		#{token},
		#{devicetype}
		)
		</insert>
		<delete id="deleteToken">
		delete from token
		where token = #{token}
		</delete>
		</mapper>