<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div> <!-- 중복되는 head 처리 -->
 	
<div class="main-wrapper">
	<nav class="navbar-vertical-nav d-none d-xl-block">
		<div class="navbar-vertical">
			<div class="px-4 py-5">
				<a href="/xdm/index" class="navbar-brand">
					<img src="/assets/xdm/template/FreshCart-1.4.0/images/logo/logo.png" alt="" />
				</a>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column" id="sideNavbar">
					<li class="nav-item">
						<a class="nav-link active" href="/xdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/xdm/member/MemberXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">회원관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesSys"
							aria-expanded="false"
							aria-controls="navCategoriesSys"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesSys" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/code/CodeXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/xdm/codegroup/CodeGroupXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="/xdm/index" class="navbar-brand">
					<img src="/assets/usr/template/FreshCart-1.4.0/images/logo/logo.png" alt="" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="/xdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/xdm/member/MemberXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">회원관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navOrders"
							aria-expanded="false"
							aria-controls="navOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navOrders" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/xdm/code/CodeXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/xdm/codegroup/CodeGroupXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- main wrapper -->
	<main class="main-content-wrapper">
		<section class="container">
			<!-- row -->
			<div class="row mb-8">
				<div class="col-md-12">
					<!-- card -->
					<div
					class="card bg-light border-0 rounded-4"
					style="background-image: url(/assets/xdm/template/FreshCart-1.4.0/images/banner/login-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
						<div class="card-body p-lg-12">
							<h1 style="color:lightgray">Welcome back, Codetrio!</h1>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
			
		</section>
	</main>
</div>
    	
<div th:replace="~{xdm/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

</body>
</html>