<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/usr/include/head :: head}"></div> 

	<main>
	<form id="formList" method="post" novalidate>
	<input type="hidden" name="thisPage" th:value="${vo.thisPage}" /> <input
				type="hidden" id="rowNumToShow" name="rowNumToShow"
				th:value="${vo.rowNumToShow}" />
	
		<!-- section -->
		<div class="mt-4">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" style="padding-top:20px;">
					<!-- col -->
					<div class="col-4">
						<!-- breadcrumb -->
					<h1 class="fw-bold">실종 신고 현황</h1>
						
					</div>
					<div class="col-4"><input class="form-control" type="text" placeholder="제목 검색">
					</div>
					<div class="col-2">
					<button type="button" class="btn btn-outline-secondary">검색</button>
					</div>
					<div class="col" style="display:flex; justify-content:end; height:40px;"><a type="button" class="btn btn-secondary" href="missUsrForm">실종 신고 하기</a></div>
				</div>
			</div>
		</div>

		<!-- section -->
		<section class="mt-8">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-12 mb-4">
						<!-- heading -->
						
					</div>
				</div>
			</div>
		</section>
		<!-- section -->
		<section class="mb-lg-14 mb-8">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-12 col-md-6 col-lg-4 mb-10" th:if="${#lists.isEmpty(list)}">
					등록된 현황이 없습니다.
					</div>
					<div class="col-12 col-md-6 col-lg-4 mb-10" th:if="${!#lists.isEmpty(list)}" th:each="list:${list}">
						<div class="mb-4" >
							<a href="/missUsrView">
								<!-- img -->
								<div class="img-zoom" >
									<img style="height:300px;" th:src="${list.fPath}" alt="" class="img-fluid w-100" />
								</div>
							</a>
						</div>
						<div class="mb-3"><a href="javascript:void(0);" th:text="${list.uNickname}"></a></div>
						<!-- text -->
						<div>
							<h3 ><a href="/missUsrView" class="text-inherit" th:text="${list.mbTitle}"></a>
							</h3>
							<h4 ><i class="feather-icon icon-map-pin me-2">
							<span th:text="${list.mbDetailAddr}"></span>
							</i></h4>
							<h4 ><i class="bi bi-alarm">
							<span th:text="${list.mbDate}"></span>
							</i></h4>
							<div class="d-flex justify-content-between text-muted mt-4">
								<span>
									<small>
										등록일 : <span class="text-dark fw-bold" th:text="${list.mbRegDate}"></span>
									</small>
								</span>
							</div>
						</div>
					</div>
					<!-- col -->
					<div class="row"></div>
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display:flex; justify-content:center;">

					
						<!-- nav -->
						<nav>
							<ul class="pagination">
								<li th:if="${vo.startPage gt vo.pageNumToShow}"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
										class="fa-solid fa-angle-left"></i>
								</a></li>
								<li
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									class="page-item" style="cursor: pointer;"><a
									class="page-link" th:attr="onclick=|goList('${num}')|"
									th:text="${num}"> <!-- ${i.index} -->
								</a></li>
								<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
									style="cursor: pointer;"><a class="page-link"
									th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
										class="fa-solid fa-angle-right"></i>
								</a></li>
							</ul>
						</nav>
					</div>
										<div class="col-lg-4"></div>
				</div>
			</div>
		</section>
		</form>
	</main>

	<div th:replace="~{/usr/include/footer :: footer}"></div> 
	<script type="text/javascript">
	let form = document.querySelector("#formList");
	
	function goList(num){
		document.querySelector("input[name=thisPage]").value = num;
		form.action = "missUsrList";
		form.submit();
	}
	
	
	
	</script>
	</body>