<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

<div class="row">
	<div class="d-none d-md-block col-md-2"></div>

	<div class="col-12 col-md-8"
		style="display: flex; justify-content: center;">
		<main class="main-content-wrapper ">
			<div class="container">
				<div class="row mb-8">
					<div class="col-md-12">
						<div>
							<h2>실종 신고 하기</h2>
							<!-- breacrumb -->

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card shadow border-0">
							<div class="card-body d-flex flex-column gap-8 p-7">

								<div class="d-flex flex-column gap-4">
									<form class="row g-3 needs-validation" id="formList"
										method="post" novalidate>
										<input type="hidden" name="user_uSeq"
											th:value="${session.sessSeqUsr}"> <input
											type="hidden" id="mbLat" name="mbLat"
											th:value="${one?.mbLat}"> <input type="hidden"
											id="mbLon" name="mbLon" th:valeu="${one?.mbLon}"> <input
											type="hidden" id="mbPostalCode" name="mbPostalCode">
										<input type="hidden" id="mbSeq" name="mbSeq"
											th:value="${one?.mbSeq}">
										<div class="col-lg-4 col-12">
											<label class="form-label" for="uAnimal_uaSeq">회원님의
												반려동물 정보</label> <select class="form-select" id="uAnimal_uaSeq"
												name="uAnimal_uaSeq" onchange="uaSelect()"
												th:value="${one?.uaSeq}">
												<option value="">반려동물을 선택해주세요</option>
												<option th:each="uaList:${uaList}"
													th:text="${uaList?.uaName}" th:value="${uaList?.uaSeq}"
													th:selected="${one?.uaSeq == uaList?.uaSeq}"></option>

											</select>
										</div>
										<div class="col-lg-4 col-12"></div>
										<div class="col-lg-4 col-12">
											<label for="mbReward" class="form-label">사례금</label> <input
												type="text" class="form-control" id="mbReward"
												name="mbReward" th:value="${one?.mbReward}"
												autocomplete="off">
										</div>
										<div class="col-lg-12 col-12">
											<label for="mbTitle" class="form-label">제목</label> <input
												type="text" class="form-control" id="mbTitle" name="mbTitle"
												th:value="${one?.mbTitle}" autocomplete="off">
										</div>
										<div class="mb" th:fragment="uaFragment">
											<div class="row">
												<div class="col-lg-6 col-12 ">
													<div>
														<!-- input -->
														<label for="uaName" class="form-label"> 반려동물 이름 <span
															class="text-danger">*</span>
														</label> <input type="text" class="form-control pet" id="uaName"
															name="uaName" th:value="${item?.uaName}" required
															readonly />
														<div class="invalid-feedback">Please enter customer
															name</div>
													</div>
												</div>
												<div class="col-lg-6 col-12 ">
													<div>
														<!-- input -->
														<label for="uaBOD" class="form-label"> 반려동물 생년월일 <span
															class="text-danger">*</span>
														</label> <input type="text" class="form-control pet" id="uaBOD"
															name="uaBOD" th:value="${item?.uaBOD}" required readonly />
														<div class="invalid-feedback">Please enter email</div>
													</div>
												</div>
												<div class="col-lg-6 col-12 ">
													<div>
														<!-- input -->
														<label for="uaBreed" class="form-label">반려동물 품종</label> <input
															type="text" class="form-control pet" id="uaBreed"
															name="uaBreed" th:value="${item?.uaBreed}" required
															readonly />
														<div class="invalid-feedback">Please enter phone</div>
													</div>
												</div>

												<div class="col-lg-6 col-12 ">
													<label class="form-label" for="uaGenderCd">반려동물 성별</label>
													<input type="text" class="form-control pet" id="uaGenderCd"
														name="uaGenderCd" th:value="${item?.cName}" required
														readonly />
													<div class="invalid-feedback">Please enter date</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7 col-12">
											<label class="form-label" for="mbStreetAddr">실종 위치</label> <input
												type="text" class="form-control flatpickr" id="mbStreetAddr"
												name="mbStreetAddr" th:value="${one?.mbStreetAddr}" required
												readonly />
											<div class="invalid-feedback">Please enter date</div>
										</div>
										<div class="col-lg-3 col-12">
											<label class="form-label" for="mbEtc">실종위치 <span
												style="font-size: small">(참고사항)</span></label> <input type="text"
												class="form-control flatpickr" id="mbEtc" name="mbEtc"
												th:value="${one?.mbEtc}" required readonly />
											<div class="invalid-feedback">Please enter date</div>
										</div>
										<div class="col-lg-2 col-12 d-flex align-items-end">
											<button type="button" class="btn btn-dark"
												id="locationBtn" onclick="sample4_execDaumPostcode()">위치
												찾기</button>
										</div>
										<div class="col-lg-12 col-12">
											<label class="form-label" for="mbDetailAddr">실종 상세 위치</label>
											<input type="text" class="form-control flatpickr"
												id="mbDetailAddr" name="mbDetailAddr"
												th:value="${one?.mbDetailAddr}"
												placeholder="실종 상세 위치를 적어주세요" required autocomplete="off"/>
											<div class="invalid-feedback">Please enter date</div>
										</div>
										<div class="col-lg-6 col-12">
											<label class="form-label" for="mbDate">실종 날짜 & 시간</label> <input
												type="text" class="form-control flatpickr"
												id="dateTimePicker" name="mbDate" th:value="${one?.mbDate}"
												readonly required />
											<div class="invalid-feedback">Please enter date</div>
										</div>

										<span id="guide" style="color: #999; display: none"></span>
										<div id="map" style="width: 100%; height: 400px;"></div>
										<div>
											<div class="col-12 mt-3">
											<div class="d-flex flex-column flex-md-row gap-2 ">
											</div>
												<div
													class="d-flex flex-column flex-md-row gap-2 justify-content-end">
												<a href="/missUsrList" class="btn btn-primary">목록</a>
													<button class="btn btn-info" type="button"
														onclick="missSave()">저장</button>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div class="d-none d-md-block col-md-2"></div>
</div>

<div th:replace="~{usr/include/footer :: footer}"></div>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script
	src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=cfc3b253c46dc92fe67dc68bbe3c0296&libraries=services"></script>
	<script type="module" src="/firebase-module.js"></script>



<script type="text/javascript">
	let form = document.getElementById("formList");
	let map, marker, mapContainer;
	//위치 가져오기
	navigator.geolocation.getCurrentPosition(function(position) {
		// 위치 권한 허용한 경우
		var lat = position.coords.latitude;
		var lon = position.coords.longitude;
		var geocoder = new kakao.maps.services.Geocoder();
		geocoder.coord2RegionCode(lon, lat, function(result, status) {
			if (status === kakao.maps.services.Status.OK) {
				var region = result[0];
				var locationName = region.region_1depth_name + " "
						+ region.region_2depth_name + " "
						+ region.region_3depth_name;

				 mapContainer = document.getElementById('map'),

				mapOption = {
					center : new daum.maps.LatLng(lat, lon), // 지도의 중심좌표
					level : 3
				// 지도의 확대 레벨
				};

				//지도를 미리 생성
				 map = new daum.maps.Map(mapContainer, mapOption);
				//주소-좌표 변환 객체를 생성
				var geocoder = new daum.maps.services.Geocoder();
				//마커를 미리 생성
				 marker = new daum.maps.Marker({
					position : new daum.maps.LatLng(lat, lon),
					map : map
				});
			}
		});
	}, function(error) {
		// 위치 권한 실패한 경우 fallback
		console.warn("위치 실패:", error.message);
		var lat = 37.5371875;
		var lon = 127.005476;
		var geocoder = new kakao.maps.services.Geocoder();
		geocoder.coord2RegionCode(lon, lat, function(result, status) {
			if (status === kakao.maps.services.Status.OK) {
				var region = result[0];
				var locationName = region.region_1depth_name + " "
						+ region.region_2depth_name + " "
						+ region.region_3depth_name;

				 mapContainer = document.getElementById('map'),

				mapOption = {
					center : new daum.maps.LatLng(lat, lon), // 지도의 중심좌표
					level : 3
				// 지도의 확대 레벨
				};

				//지도를 미리 생성
				 map = new daum.maps.Map(mapContainer, mapOption);
				//주소-좌표 변환 객체를 생성
				var geocoder = new daum.maps.services.Geocoder();
				//마커를 미리 생성
				 marker = new daum.maps.Marker({
					position : new daum.maps.LatLng(37.537187, 127.005476),
					map : map
				});
			}
		});
	});

	//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
	function sample4_execDaumPostcode() {
		new daum.Postcode({
			oncomplete : function(data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var roadAddr = data.roadAddress; // 도로명 주소 변수
				var extraRoadAddr = ''; // 참고 항목 변수
				var addr = data.address;
				// 법정동명이 있을 경우 추가한다. (법정리는 제외)
				// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
					extraRoadAddr += data.bname;
				}
				// 건물명이 있고, 공동주택일 경우 추가한다.
				if (data.buildingName !== '' && data.apartment === 'Y') {
					extraRoadAddr += (extraRoadAddr !== '' ? ', '
							+ data.buildingName : data.buildingName);
				}
				// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if (extraRoadAddr !== '') {
					extraRoadAddr = ' (' + extraRoadAddr + ')';
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('mbPostalCode').value = data.zonecode;
				document.getElementById("mbStreetAddr").value = roadAddr;
				// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
				if (roadAddr !== '') {
					document.getElementById("mbEtc").value = extraRoadAddr;
				} else {
					document.getElementById("mbEtc").value = '';
				}

				var guideTextBox = document.getElementById("guide");
				// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
				if (data.autoRoadAddress) {
					var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
					guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr
							+ ')';
					guideTextBox.style.display = 'block';

				} else if (data.autoJibunAddress) {
					var expJibunAddr = data.autoJibunAddress;
					guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr
							+ ')';
					guideTextBox.style.display = 'block';
				} else {
					guideTextBox.innerHTML = '';
					guideTextBox.style.display = 'none';
				}
				var geocoder = new kakao.maps.services.Geocoder();
				geocoder.addressSearch(addr, function(result, status) {
					if (status === kakao.maps.services.Status.OK) {
						var lat = result[0].y;
						var lng = result[0].x;
						console.log(lat);
						console.log(lng);
						document.getElementById("mbLat").value = lat;
						document.getElementById("mbLon").value = lng;
						var coords = new daum.maps.LatLng(lat, lng);
						// 지도를 보여준다.
						mapContainer.style.display = "block";
						map.relayout();
						// 지도 중심을 변경한다.
						map.setCenter(coords);
						// 마커를 결과값으로 받은 위치로 옮긴다.
						marker.setPosition(coords)
					} else {
						alert("좌표를 찾을 수 없습니다.");
					}
				});
				let ad = document.querySelectorAll(".ad");
				for (let i = 0; i < ad.length; i++) {
					document.getElementsByClassName("ad")[i].classList
							.remove("is-invalid");
					document.getElementsByClassName("ad")[i].classList
							.add("is-valid");
				}
			}

		}).open();
	}
	function uaSelect() {
		$.ajax({
			type : "post",
			url : "/missUsrForm",
			headers : {
				"X-Requested-With" : "XMLHttpRequest"
			},
			data : {
				"uAnimal_uaSeq" : $("#uAnimal_uaSeq").val()
			},
			success : function(fragmentHtml) {
				$(".mb").html(fragmentHtml);
			}
		});
	}
	window.onload = function() {
		uaSelect();
	}
	function missSave() {
		let mbSeq = document.querySelector("input[name=mbSeq]");
		if (mbSeq.value === "" || mbSeq.value === null) {

			let pet = document.querySelectorAll(".pet");
			for (let i = 0; i < pet.length; i++) {
				pet[i].disabled = true;
			}

			$.ajax({
				async : true,
				cache : false,
				type : "post"
				/* ,dataType:"json" */
				,
				url : "/missUsrInst"
				/* ,data : $("#formLogin").serialize() */
				,
				data : {
					"uAnimal_uaSeq" : $("#uAnimal_uaSeq").val(),
					"mbPostalCode" : $("#mbPostalCode").val(),
					"mbDetailAddr" : $("#mbDetailAddr").val(),
					"mbStreetAddr" : $("#mbStreetAddr").val(),
					"mbEtc" : $("#mbEtc").val(),
					"mbReward" : $("#mbReward").val(),
					"mbLat" : $("#mbLat").val(),
					"mbLon" : $("#mbLon").val(),
					"mbTitle" : $("#mbTitle").val(),
					"mbDate" : $("#dateTimePicker").val()
				},
				success : function(response) {
					if (response.rt == "success") {
						$.ajax({
							  type: "POST",
							  url: "/api/sendTestPush",
							  data: {
							    uaName: $("input[name=uaName]").val(),
							    uaBreed: $("input[name=uaBreed]").val(),
							    mbDetailAddr: $("#mbDetailAddr").val()
							  },
							  success: function () {
 							    form.action = "/missUsrList";
 							    form.submit();
							  },
							  error: function () {
							    alert("푸시 전송 실패!");
							  }
							});

					} else {
						return false;
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert("ajaxUpdate " + jqXHR.textStatus + " : "
							+ jqXHR.errorThrown);
				}
			});
		} else {
			let pet = document.querySelectorAll(".pet");
			for (let i = 0; i < pet.length; i++) {
				pet[i].disabled = true;
			}
			form.action = "/missUsrUpdt";
			form.submit();
		}
	}
</script>
<script type="text/javascript">
	jQuery.datetimepicker.setLocale("ko");
	$(document).ready(function() {
		$("#dateTimePicker").datetimepicker({
			timepicker : true,
			format : "Y-m-d H:i",
			maxDate : new Date(),
			onChangeDateTime : function(ss, $input) {
				let input = $input.val();
				if (!input) {
					$input.addClass("is-invalid");
					$input.removeClass("is-valid");
				} else {
					$input.addClass("is-valid");
					$input.removeClass("is-invalid");
				}
			}
		});
	});
</script>
</body>